/* Global styles */
body {
    margin: 0;
    font-size: 21px;
}

/* Typography */

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

/* Layout */

header {
    background-color: #588C94;
    color: white;
    text-align: center; 
}

.intro {
    width: 500px;
    margin: 0 auto;
}

.my-skills {
    background-color: #1D3C41;
    color: white;
}

.columns {
    display: flex; /* This declaration helps in making all children divisions as columns */
}

.column {
    border: 2px solid red;
    padding: 10px;
    margin: 15px;
    text-align: center;
}
